/* ! Font Scelto */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,200;1,300;1,400&display=swap');  
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&display=swap');
/* ! RESET */
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
::before
::after{
margin: 0;
padding: 0;
box-sizing: border-box;
outline: none;
border: none;
text-decoration: none;
}
html,
body{
overflow-x: hidden;
letter-spacing: 1px;
width: 100%;
min-height: 100vh;
background-color: var(--background-color);
scroll-behavior: smooth;
}
html{
font-size: 10px; /* ! 1rem = 10px */
}
ul {
list-style: none;
}
img{
object-fit: cover;
width: 100%;
height: 100%;
}
a{
text-decoration: none;
display:block
}
/* ! PROJECT SETTINGS */
body{
font-family: 'Montserrat', sans-serif;
font-size: var(--size-font);
font-weight: var(--medium-font);
background-color: var(--background-color);
color: var(--text-color);
margin: 0;
}
.noScroll {
    overflow: hidden;
}
/* ! componenti riutilizzabili */

.container {
    max-width: 90%;
    margin: 0 auto;
    position: relative;
}
@media screen and (min-width: 992px) {
    .container {
        padding: 0 4rem;
        max-width: 138rem;
    }
}

.calltoaction {
   
    display: none;
    
}

@media screen and (min-width: 992px) {
    .calltoaction {
        display: block;
        background-color: var(--second-color);
        color: #fff;
        font-size: 1.5rem;
        border-radius: 4px;
        line-height: normal;
        padding: 1rem;
    }
    
}

.card .calltoaction-2 {
    margin-left: 0;
}

.servizi .card:hover .calltoaction-2 {
    color: #fff;
}

.servizi .card:hover .icon-2::before {
    color: #fff;
}



.title-section {
    font-size: 2.4rem;
    letter-spacing: 0;
    color: #000;
    font-weight: 600;
    font-family: 'Exo 2', sans-serif;
    margin-bottom: 5rem;
}

.btn-w {
    position: relative;
    width: 16.7rem;
}

.calltoaction-2 {
    color: var(--second-color);
    padding:6.4px 16px;
    font-size: 1.5rem;
    width: fit-content;
    display: flex;
    position: relative;
    align-items: center;
    transition: all .2s ease-in-out;
    margin: 0 auto;
}
.calltoaction-2::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--second-color);
}
.calltoaction-2:hover::before {
    width: 97%;
}
.calltoaction-2:hover {
    padding-left:0 ;
}
.calltoaction-2:hover svg {
    right: 0.2rem;
}

.calltoaction-2.--white {
    color: #fff;
    font-size: 1.5rem;
    margin: 0.6rem 0 0 0 ;
}

.calltoaction-2.--white::before {
    content: "";
    position: absolute;
    bottom:3px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color:#fff;
}

.btn-w svg {
    position: absolute;
    right: -1rem;
    top:47%;
    transform: translateY(-50%);
    width: 5rem;
    height: 2rem;
    object-fit: cover;
    color: var(--second-color);
}

.btn-w.--white svg {
    position: absolute;
    right: 1.5rem;
    top:47%;
    transform: translateY(-50%);
    width: 5rem;
    height: 2rem;
    object-fit: cover;
    color: var(--second-color);
}


 :root {
--title-section-font:3.2rem;
--size-font-menu:1.5rem;
--size-font-normal:1.4rem;
--size-font-big:1.8rem;
--medium-font-weight:500;
--semi-font-weight:600;
--line-height-p:2rem;

--theme-color: 32;

--first-color: hsl(var(--theme-color),87%,37%);
--title-color:hsl(var(--theme-color),8%,15%);
--text-color:hsl(var(--theme-color),8%,45%);
--title-color-light:hsl(var(--theme-color),8%,65%);
--input-color:hsl(var(--theme-color),70%,96%);
--label-button:hsl(var(--theme-color),100%,100%);
--background-color:hsl(var(--theme-color),60%,100%);
--high-contrast:hsl(var(--theme-color),100%,100%);
--shadow-color:hsl(var(--theme-color),10%,90%);

--second-color-theme : 344;


--second-color : hsl(var(--second-color-theme),79%,58%)
} 



/* -------------------------------------------------------------------------------- */
/* ! HEADER */
/* -------------------------------------------------------------------------------- */
header.--home {
    height: 100vh;
}

header{
    height: 60vh;
    width: 100%;
    position: relative;
    background:linear-gradient(to bottom,rgba(0,0,0,0.2),rgba(0,0,0,1)),  url('../assets/immagini/index.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    margin-top: -5rem;
}


/* ! immagini ad header varie */
header.--chi-siamo {
    background:linear-gradient(to bottom,rgba(0,0,0,0.2),rgba(0,0,0,1)),  url('../assets/immagini/chi-siamo.jpg');
    background-position: center;
    background-size: cover;
}


header.--servizi {
    background:linear-gradient(to bottom,rgba(0,0,0,0.2),rgba(0,0,0,1)),  url('../assets/immagini/service.jpg');
    background-position: center;
    background-size: cover;
}

header.--vetrofanie {
    background:linear-gradient(to bottom,rgba(0,0,0,0.2),rgba(0,0,0,1)),  url('../assets/immagini/glass.jpg');
    background-position: center;
    background-size: cover;
}



@media screen and (min-width: 768px) {
    .col__nav li a:hover {
        color: var(--second-color);
    }
}


@media screen and (max-width:992px) {
  header {
    padding: 5rem 0;
  }
}

header .container {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

@media screen and (min-width: 600px) {
  header .container {
    margin: 5rem auto;
    justify-content: center;
  }
}
/* @media screen and (min-width: 992px) {
  header .container {
    padding:  0 6rem;
  }
} */

header .container .cover-cont {
    margin-top: 9.5rem;
    width: 100%;
    z-index: 998;
    position: relative;
    font-family: 'Exo 2', sans-serif;
}

@media screen and (min-width: 992px) {
    header .container .cover-cont {
        width: 50%;
    }
}

header .container .cover-right-img {
    width: 50%;
    z-index: 998;
    position: relative;
    display:flex;
    align-items:center;
    filter: saturate(50%);
    transition: .8s ease-in-out;
    justify-content:center;
}
header .container .cover-right-img:hover {
    filter: saturate(100%);
}

header .container .cover-right-img img {
    width: 71%;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 1px solid #fff;
    margin-top: 74px;
    margin-left: 34px;
}


header .container .cover-cont h1 {
    color: #fff;
    font-size: 4.2rem;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
    line-height: 4rem;
    text-align: center;
}
@media screen and (max-width: 600px) {
    header .container .cover-cont h1 {
        font-size: 2.4rem;
    }

}


header .container .cover-cont h3 {
    font-size: 2.6rem;
    line-height: 3rem;
    margin-bottom: 2rem;
    color: #fff;
}

@media screen and (max-width: 600px) {
    header .container .cover-cont h3 {
        font-size: 1.8rem;
    }
}

header .container .cover-cont p {
    font-size: 1.6rem;
    margin-bottom: 4rem;
    color: #fff;
    text-align: center;
    font-weight: 600;
}

@media screen and (max-width: 600px) {
    header .container .cover-cont p {
        font-size: 1.4rem;
    }
}

header .container .cover-cont .calltoaction-2 {
    background-color: var(--second-color);
    color: #fff;
    z-index: 0;
    padding:6.4px 16px ;
    font-size: 1.8rem;
    position: relative;
    box-shadow: 2px 4px 8px 0px rgba(0,0,0,0.14);
    border-radius: 0.4rem;
    font-weight: 700;
}
header .container .cover-cont .calltoaction-2::before {
    display: none;
}

header .container .cover-cont .calltoaction-2:hover {
    background-color: #fff;
    color: var(--second-color);
}

@media screen and (min-width: 600px) {
    header .container .cover-cont {
        width: 50%;
    }
}

header .header {
    position: fixed;
    max-width: 147rem;
    width: 100%;
    z-index: 10000;
    left: 50%;
    top: 3rem;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4.5rem;
    background-color: #fff;
    height: 9rem;
    border-radius: 1rem;
    transition: transform 1s cubic-bezier(.215, .61, .355, 1);
    transition: max-width 1s cubic-bezier(.215, .61, .355, 1);
    /* transition: transform 0.2s ease-in-out;
    transition: max-width 0.4s ease-in-out; */
}
@media screen and (max-width: 992px) {
  header .header {
    top: 0;
    left: 0;
    padding: 0 3rem;
    transform: translateX(0);
    max-width: 100%;
    border-radius: 0;
  }
}


@media screen and (min-width: 992px) {
    .header .icon {
        display: none;
    }
}


header .header.--fixed {
    top: 0;
    box-shadow: 6px 6px 18px 0px rgb(0 0 0 / 18%);
    max-width: 100%;
    border-radius: 0;
}

.logo {
    width: 11rem;
}

@media screen and (min-width: 992px) {
    header .logo {
        width: 14rem;
        position: relative;
    }
}

/* -------------------------------------------------------------------------------- */
/* ! HAMBURGER MENU START */
/* -------------------------------------------------------------------------------- */

    nav .icon {
        position:relative;
        z-index: 1000;
        background-color: #fff;
        aspect-ratio: 1;
        width: 5.6rem;
        height: 5.6rem;
        align-items: center;
        padding: 0.5rem;
        display: flex;
        border-radius: 50%;
        justify-content: center;
        flex-direction : column; 
        gap:0.5rem;
        /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
        box-shadow:0 1px 6px -1px rgba(0, 0, 0, 0.1),0 2px 4px -1px rgba(0, 0, 0, 0.06);
    }
    nav .icon span {
        width: 100%;
        height: 2px;
        border-radius: 3px;
        background-color: var(--second-color);
        transition: all .3s ease-in-out;
    }
    nav .icon span:first-child {
        width: 3.4rem;
        background-color: rgba(199,199,199,1);
    }
    nav .icon span:nth-child(2) {
        width: 2.5rem;
        align-self: flex-start;
        transform-origin: left;
        margin-left: 7px;
    }

    nav .icon.--active span:first-child {
         width: 3.4rem;
         transform: translate(-3%,167%) rotate(45deg);
         top: 50%;
         
         
    }

    nav .icon.--active span:last-child {
        width: 3.4rem;
        transform: translate(16% , 350%) rotate(-45deg);
    }
    

/* -------------------------------------------------------------------------------- */
/* ! HAMBURGER MENU END */
/* -------------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------------- */
/* ! NAVLIST */
/* -------------------------------------------------------------------------------- */
header .nav-list {
    transition: all 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    padding: 0;
    display: flex;
    overflow-y: hidden;
    background-color: var(--first-color);
    background-position: center;
    background-size: cover;
    align-items:center;
    justify-content:space-around;
    z-index: 999;
}

@media screen and (max-width: 992px) {
    header nav .nav-list .menu-cont-right  h4  {
        font-size: 1.8rem;
        margin-bottom:2rem;
    }
  .nav-list li a:hover{
    transition: .3s;
    color: var(--second-color);
  }
  header nav .nav-list .menu-cont-right a:hover {
    transition: .3s;
    color: var(--second-color);
  }
  .nav-list li a {
    font-size: 6.4rem;
    line-height: 9rem;
    color: #fff;
    font-weight: 900;
  }
  header nav .col__nav.--first {
    width: 400px;
  }
  header nav .nav-list .menu-cont-right a {
    font-size: 3rem;
}

}


header .nav-list.--active {
    padding: 10rem;
    height: 100vh;
    transform-origin: bottom;
}
@media screen and (max-width: 600px) {
    header .nav-list.--active {
        padding:4.4rem 2rem;
        height: 100vh;
    }
    header .nav-list {
        flex-direction: column;
        padding:0;
        align-items: flex-start;
        justify-content: flex-start;
    }
    header nav .nav-list .menu-cont-right {
        margin-top: 3.5rem;
    }

    header nav .nav-list .menu-cont-right a  {
        font-size: 2rem;
    }

}


header nav .nav-list .menu-cont-right {
    display: block;
}

header nav .nav-list .menu-cont-right  h4 {
    margin-bottom: 0.7rem;
    color:var(--second-color);
    font-weight: 900;
    text-shadow: 1px 1px #fff;
}
header nav .nav-list .menu-cont-right  h4.last {
    margin-top: 3.5rem;
}

header nav .nav-list .menu-cont-right a {
    margin-bottom: 0.5rem;
    color: #fff;
    font-weight: 900;
}




/* ! menu su comp */
@media screen and (min-width: 992px) {

    header .nav-list.nav-list.--active {
        padding:0;
        height: auto;
    }
    header nav .nav-list {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        position: initial;
        height: auto;
        padding: 0;
        background-color: #fff;
    }

    header nav .nav-list .menu-cont-right {
        display: none;
    }

    header nav .col__nav {
        display: flex;
        gap:2.2rem;
        align-items: center;
    }
    header nav .nav-list li a  {
        font-size: 6.4rem;
        font-weight: 900;
        line-height: 9rem;
        color: #fff;
    }
}

header nav .nav-list li {
    line-height: 5rem;
    transition: .3s;
    position: relative;
}

header nav .nav-list li .sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
}



@media screen and (max-width: 600px) {
    header nav .nav-list li {
        line-height:2.5rem;
    }
    
    header nav .nav-list li a  {
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 900;
        color: #fff;
    }
}
header nav .nav-list li a.calltoaction {
    color: #fff;
}

@media screen and (min-width: 992px) {
    header nav .nav-list li a {
        color: #000;
        font-weight: 600;
        line-height: normal;
        font-size: 1.6rem;
    }
}


/* header video.videoCover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

} */




/* -------------------------------------------------------------------------------- */
/* ! SERVIZI */
/* -------------------------------------------------------------------------------- */

.servizi {
    background-color: #f6f6f6;
    position: relative;
    z-index: 998;
}



.servizi .container {
    max-width: 100%;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
}



@media screen and (min-width: 992px) {
  .servizi .container {
    margin: 0 auto;
    flex-direction: row;
    max-width: 145rem;
  }
}



.servizi.p-section {
    padding: 9rem 3rem;
}

.servizi .container .col-1-mio {
    margin-bottom: 8rem;
}


@media screen and (min-width: 992px) {
    .servizi .container .col-1-mio {
        margin-bottom: 0;
        width: 32%;
        margin-right: 5rem;
    }
}

.servizi .container .col-1-mio h2 {
    margin-bottom: 3.8rem;
}

@media screen and (min-width: 992px) {
    .servizi .container .col-1-mio h2 {
        font-size: 3.2rem;
    }
}

.servizi .container .col-1-mio p {
    font-size: 1.7rem;
    margin-bottom: 3rem;
    line-height: 2rem;
    font-weight: 700;
}



.servizi .container .col-2-mio {
    display: flex;
    flex-direction : column
}
@media screen and (min-width: 992px) {
    .servizi .container .col-2-mio {
        padding-top: 7.2rem;
        width: 68%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.servizi .container .card-w {
    padding: 0;
}
@media screen and (min-width: 992px) {
    .servizi .container .card-w  {
        width: 50%;
        padding: 1.8rem
    }
}

.container .card {
    cursor: pointer;
    width: 100%;
    box-shadow: 2px 2px 10px 0px rgb(0 0 0 / 50%);
    transition: all .2s ease-in-out;
    background-color: #fff;
    margin-bottom: 2rem;
    border-radius: 1rem;
    padding: 3rem 2.5rem;
}

@media screen and (min-width: 992px) {
     .container .card:hover {
        background-color: var(--second-color);
        color: #fff;
    }
     .container .card:hover h3{
        color: #fff;
    }
     .container .card:hover {
        transform: translateY(-1rem);
    }
}


@media screen and (min-width: 992px) {
     .container .card {

        margin-bottom: 0;
    }
}

 .container .card .icon {
    display:flex;
    align-items:center;
    justify-content:center;
    width: 9rem;
    height: 9rem;
    background-color: var(--second-color);
    margin-bottom: 2rem;
}

 .container .icon i::before {
    font-size: 3rem;
    color: #fff
}

 .container .card h3 {
    color: #000;
    font-size: 1.6rem;
    padding-bottom: 1rem;
}

 .container .card p {
    padding-bottom: 1.6rem;
    font-size: 1.4rem;
    color: #000;
}

.container .card:hover p {
    color: #fff;
}





/* -------------------------------------------------------------------------------- */
/* ! CHI SIAMO */
/* -------------------------------------------------------------------------------- */


section.chi-siamo {
    background-color: #fff;
    position: relative;
    z-index: 9999;
}

section.chi-siamo .container {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}



@media screen and (min-width: 992px) {
    section.chi-siamo .container {
        max-width:145rem;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
    }
    section.chi-siamo.--chi-siamo {
        flex-direction: row-reverse;
    }
    
}


section.chi-siamo .col {
    width: 100%;
}

@media screen and (min-width: 992px) {
  
    section.chi-siamo .col {
        width: 50%;
    }
}

section.chi-siamo .col .img-cont {
    width: 90%;
    padding: 2rem;
}

@media screen and (max-width: 992px) {
    section.chi-siamo .col .img-cont {
        padding: 0;
        margin-bottom: 4.5rem;
    }
}



section.chi-siamo .col .img-cont img {
    border-radius: 1rem;
}

section.chi-siamo .col.--right {
    margin-top: 1rem;
    padding: 0 1.6rem;
}

section.chi-siamo .col.--right h2 {
    margin-bottom: 3.5rem;
    font-size: 2.6rem;
    text-align: left;
}

section.chi-siamo .col.--right h3 {
    color: #000;
    font-weight: 900;
    font-size: 1.6rem;
    margin-bottom: .6rem;
}

section.chi-siamo .col.--right p {
    margin-bottom: 1.6rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: #000;
}

@media screen and (max-width: 992px) {
    section.chi-siamo .col.--right h2 {
        font-size: 2rem;
    }
}



/* -------------------------------------------------------------------------------- */
/* ! SOLUZIONI SECTION */
/* -------------------------------------------------------------------------------- */

section.soluzioni {
    background-color: #f6f6f6;
}

section.soluzioni .title-section {
    text-align: center;
}

section.soluzioni .container {
    max-width: 100%;
    margin:0 auto;
    display: flex;
    align-items: center;
    flex-direction : column ;
}

@media screen and (min-width: 992px) {
    section.soluzioni .container {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        max-width: 145rem;

} }

.solution-w {overflow: hidden;width: 49%;background-color: #fff;
transition: .3s;
box-shadow: 2px 4px 8px 0px rgb(0 0 0 / 14%);    border: 0.5px solid #d9d9d9;
padding: 1.6rem 3.2rem;
border-radius: 0.8rem;
}


@media screen and (max-width: 992px) {
  .solution-w {
    width: 100%;
    font-size: 1.6rem;
  }
}

.solution-w button {
    text-align: left;
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;

}

.solution-w button span {
    width: 80%;
    color: #000;
    font-weight: 600;
    font-size: 1.6rem;
    text-transform: uppercase;
}

.solution-cont {
    transition: all .3s ease-in-out;
    height: 0;
    overflow-y: hidden;
}

.solution-w button.--active+.solution-cont {
   height: max-content;
   transition: all .3s ease-in-out;
   padding-top: 10px;
}

.solution-w button .fa-solid{
    transition: .3s;
}
.solution-w button.--active .fa-solid {
    transform: rotate(90deg);
}

.solution-cont.col-100 {
    font-size: 1.6rem;
    color: #000;
}


/* -------------------------------------------------------------------------------- */
/* ! PORTFOLIO */
/* -------------------------------------------------------------------------------- */

section.portfolio {
    height: 60vh;
}

    section.portfolio .container {
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 0;
        flex-wrap: wrap;
        max-width: 100%;
    }

    section.portfolio .cover1 {
        height: 20rem;
        width: 33.33333%;
        position: relative;
        overflow: hidden;
        background: var(--second-color);
    }


    section.portfolio .cover1:hover img {
        transform: scale(1.2);
        /* transition: .3s; */
    }



    section.portfolio .cover1.doppia {
        height: 40rem;
    }

    section.portfolio .cover1:nth-child(4) {margin-top: -20rem;}
    section.portfolio .cover1:nth-child(5) {margin-top: -20rem}






    /* ! servizi spec */

    section.servizi-spec {
        color: #fff;
        background-color: var(--second-color);
    }



    section.servizi-spec .container {
        display: flex;
        align-items: center;
        flex-direction : column ;
        max-width: 100%;
    }
    
    @media screen and (min-width: 992px) {
        section.servizi-spec .container {
            max-width: 145rem;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;
            padding-right: 0;
            padding-left: 0;
        }
    }

    section.servizi-spec .container .solution-w {
        width: 49%;
        height:auto;
    }

    section.servizi-spec .container .solution-w .solution-cont {
        color: #000;
    }

    @media screen and (max-width: 992px) {
        section.servizi-spec .container .solution-w {
            width: 100%;
        }
    }

    section.servizi-spec .grid .col-50 {
        padding-right: 10rem;
    }

    @media screen and (max-width: 992px) {
        section.servizi-spec .grid .col-50 {
            padding-right: 0rem;
            width: 100%;
        }
    }

    section.servizi-spec .grid .col-50 h3 {
        font-weight: 900;
    }

    section.servizi-spec .grid .col-50 p {
        line-height: 1.8rem;
        font-size: 1.6rem;
        font-weight: 500;
    }

    @media screen and (max-width: 992px) {
        section.servizi-spec .grid .col-50 svg {
            max-width: 80%;
            margin: 0 auto;
        }      
    }

    section.servizi-spec .grid {
        max-width: 90%;
        margin: 0 auto;
        display:flex ;
        flex-direction: column;
        align-items: center;
    }
    @media screen and (min-width: 992px) {
        section.servizi-spec .grid {
            max-width: 145rem;
            flex-direction: row;
        }
    }



/* ! PERCHE NOI */

     section.perche-noi {
        position: relative;
        background-image: linear-gradient(180deg,#ffffff 60%,#f7f7f7 60%);
        padding-top: 9rem;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
     }


     @media screen and (min-width: 992px) {
       section.perche-noi {
        padding-top: 18rem;
       }
     }

     section.perche-noi h3 {
        margin-bottom: 1.3rem;
     }

     section.perche-noi p {
        font-family: 'Exo 2', sans-serif;
        font-size: 1.7rem;
        font-weight: 600;
        color: #000;
     }

     section.perche-noi  .cont-w {
        background-color: var(--first-color);
        margin: 0 auto;
        max-width: 100%;
        color: #fff;
        border-radius: 1rem;
        box-shadow: 2px 2px 10px 0px rgb(0 0 0 / 50%);
        padding: 1.8rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
     }

     @media screen and (min-width: 992px) {
        section.perche-noi  .cont-w {
            max-width: 145rem;
        }
     }

     section.perche-noi  .cont-w .card {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 0 2rem;
     }

     section.perche-noi  .cont-w .card .img-cont {
        background-color: #fff;
        padding: 1rem;
        border-radius: 50%;
        margin-bottom: 1.8rem;
        max-width: 9rem;
     }

     section.perche-noi  .cont-w .card h3  {
        margin-bottom: 1.5rem;
        text-align: center;
        font-size: 1.4rem;
     }

     section.perche-noi  .cont-w .card p  {
        text-align: center;
        color: #fff;
        font-size: 1.4rem;
     }

     @media screen and (max-width: 992px) {
        section.perche-noi  .cont-w .card {
            width: calc(50%);
            margin-bottom: 1rem;
            padding: 0 1rem;
         }
         section.perche-noi .card {
            margin-bottom: 2rem;
            padding: 0rem;
         }
         section.perche-noi {
            justify-content: flex-start;
            padding-top: 9rem;
         }
         section.perche-noi.--first {
            padding-top: 9rem;
         }
     }




     /* ! contact section */


     section.contact {
        background-color: #f6f6f6;
        padding-bottom:9rem
     }
     @media screen and (min-width: 768px) {
       section.contact {
        padding-bottom: 18rem;
       }
     }

     section.contact h3 {
        margin-bottom: 1.3rem;
     }

     section.contact p {
        font-family: 'Exo 2', sans-serif;
        font-size: 1.7rem;
        font-weight: 600;
        color: #000;
     }

     section.contact .container {
        max-width: 100%;
     }

     @media screen and (min-width: 992px) {
        section.contact .container  {
            max-width: 145rem;
            padding: 0;
        }
     }

     section.contact .form
     {
     width: 100%;
     display: flex;
     justify-content: space-between;
     flex-direction : row ;  /* ! flex-direction row form */
     flex-wrap : wrap ;
     }
     section.contact .form input,
     section.contact .form textarea {
        border: none;
        outline: none;
        border:1px solid rgb(221, 221, 221);
        color: #000;
        padding: 13px 12px;
        border-radius: 3px;
        font-size: 1.2rem;
     }
     section.contact .form input::placeholder,
     section.contact .form textarea::placeholder {
        color: #cfcdcd;
     }
     section.contact .form input[type="number"]{
        appearance: textfield;
     }
     section.contact .form input[type="number"]::-webkit-inner-spin-button,
     section.contact .form input[type="number"]::-webkit-outer-spin-button {
        appearance: none;
        margin: 0;
     }

     section.contact .form .form-field {
     display: flex;
     justify-content: space-between;
     flex-direction : column;
     width: 100%;
     margin-bottom: 2rem;
     }
     section.contact .form .form-field.--name,
     section.contact .form .form-field.--email,
     section.contact .form .form-field.--number,
     section.contact .form .form-field.--intersted {
      width: 49%;
     }

     @media screen and (max-width: 992px) {
        section.contact .form .form-field.--name,
     section.contact .form .form-field.--email,
     section.contact .form .form-field.--number,
     section.contact .form .form-field.--intersted {
      width: 100%;
     }
     }


     .form-field__terms {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 2rem;
     }
     section.contact .form input[type="checkbox"] {
        appearance:none;
        width: 18px;
        padding: 0;
        margin-right: 1rem;
        aspect-ratio: 1;
        background-color: #fff;
        cursor: pointer;
        display:flex;
        align-items:center;
        justify-content:center;
        position: relative;
    }
    section.contact .form input[type="checkbox"]::before {
        content: "";
        position: absolute;
        transition: 0.3s;
        border-radius: 3px;
        left: 0;
        top: 0;
        opacity: 0;
        transform: scale(0);
        width: 100%;
        height: 100%;
        background-color: var(--second-color);
        z-index: 1;
    }
    section.contact .form input[type="checkbox"]::after {
        font-family: "Font Awesome 5 Free";
        content: '\f00c';
        transition: 0.3s;
        font-weight:900 ;
        font-size: 1rem;
        opacity: 0;
        transform: scale(0);
        color: #fff;
        position: relative;
        z-index: 2;
    }

    section.contact .form input[type="checkbox"]:checked::before {
        opacity: 1;
        transform: scale(1);
    }
    section.contact .form input[type="checkbox"]:checked::after {
        opacity: 1;
        transform: scale(1);
    }
 
     .form-field__terms label {
        width: 100%;
        color: var(--second-color);
        font-size: 1.6rem;
     }
     .form button {
        width: 100%;
        padding: 1.4rem 2rem;
        background-color: var(--second-color);
        box-shadow: 2px 2px 10px 0px rgb(0 0 0 / 50%);
        color: #fff;
        font-size: 1.6rem;
        border-radius: 0.5rem;
        border: none;
     }
     
     .rc-anchor-invisible-text {
    color: #fff;
    background-color: var(--second-color);
  }


     /* ! FOOTER */

     footer {
        padding: 4rem 2.5rem ;
        background-color: var(--second-color);
        color: #fff;
     }

     @media screen and (min-width: 768px) {
       footer {
        padding:4rem 

       }
     }

     footer .container {
        display: flex;
        flex-direction : column ;
     }

     footer .container .row__footer {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 6rem;
     }

     footer .container .row__footer .col__footer
     {
        width: 20%;
        margin-right: 6rem;
     }

     @media screen and (max-width: 992px) {
        footer .container .row__footer .col__footer,
        footer .container .row__footer .col__footer.col__footer.--final  {
            width: 50%;
            margin-bottom: 2rem;
            margin-right: 0;
            position: relative;
            height: auto;
        }
     }

     
     @media screen and (max-width: 992px) {
        footer .container .row__footer .col__footer,
        footer .container .row__footer .col__footer.col__footer.--final  {
            width: 100%;
            margin-bottom: 2rem;
            margin-right: 0;
            position: relative;
            height: auto;
        }
     }
     footer .container .row__footer .col__footer .img-cont {
        width: 15rem;
     }
     footer .container .row__footer .col__footer .img-cont img {
        filter: saturate(150%);
     }

     footer .container .row__footer .col__footer.--final {
        margin-right: 0;
        width: 100px;height: 100px;
     }

     @media screen and (max-width: 992px) {
       footer .container .row__footer .col__footer.--final img {
        width: 100%;
        aspect-ratio: 1;
        object-fit: cover;
        border-radius: 1rem;
       }
     }

   


     footer .container .row__footer .col__footer img {
        border-radius: 1rem;
     }

     footer .container .row__footer .col__footer p {
        word-wrap: break-word;
        font-size: 1.4rem;
     }

     footer .container .row__footer .col__footer h3 {
        font-size: 1.4rem;
        font-family: 'Exo 2', sans-serif;
        margin-bottom: 2rem;
     }
     footer .container .row__footer .col__footer strong {
        font-size: 1.4rem;
        margin-bottom: 2rem;
        display: block;
     }

  

     footer .container .row__footer__bottom p {
        margin-bottom: 0;
        font-size: 1.4rem;
        font-weight: 500;
     }

     footer .container .row__footer__bottom .footer__links {
        display: flex;
        align-items: center;
     }

     footer .container .row__footer__bottom .footer__links a {
        color: #fff;
        font-size: 1.6rem;
        padding: 0 1rem;
        font-weight: 900;
        border-right: 2px solid #fff;
     }
     footer .container .row__footer__bottom .footer__links a:first-child {
        padding-left: 0;
     }

















/* -------------------------------------------------------------------------------- */
/* ! HELPERS */
/* -------------------------------------------------------------------------------- */

.black {
    color: #333;
}

.white {
    color: #fff;
}



/* ! Spacer */
.spacer{height: 100px;}


/* ! Grid System */
.grid { margin: 0 auto; max-width: 90%; display: flex; flex-flow: row; flex-wrap: wrap;}
.grid--center{justify-content: center;}
.col{ flex: 1;}

[class*='col-'] { position: relative;padding: 0;}
.grid .grid [class*='col-'] {padding: 0px;}

.col-20{ width: 20%; }
.col-25{ width: 25%; }
.col-30{ width: 30%; }
.col-33{ width: 33.33%; }
.col-50{ width: 50%; }
.col-70{ width: 70%; }
.col-80{ width: 80%; }
.col-100{ width: 100%; }

@media (max-width: 991px) {
  .tab-20 { width: 20%; }
  .tab-25 { width: 25%; }
  .tab-33 { width: 33.33%; }
  .tab-50 { width: 50%; }
  .tab-100 { width: 100%; }
}

@media (max-width: 768px) {
  [class*='col-'] { width: 100%;}
  .sma-20 { width: 20%; }
  .sma-25 { width: 25%; }
  .sma-33 { width: 33.33%; }
  .sma-50 { width: 50%; }
  .sma-100 { width: 100%; }
}



/* ! Button System */
.button { 
  font-size: 1rem; text-transform: uppercase; background: #333; color:#fff; 
  text-decoration: none;padding: 14px 25px; display: inline-block;
  border-radius: 4px; font-weight: 700;
}  

.button:hover{
  background: #444; 
}

/* ! Helpers  */
.mt-0{margin-top: 0 }
.mt-1{margin-top: 10px}
.mt-2{margin-top: 20px}
.mt-3{margin-top: 40px}
.mt-4{margin-top: 100px }

.mb-0{margin-bottom: 0}
.mb-1{margin-bottom: 10px}
.mb-2{margin-bottom: 20px}
.mb-3{margin-bottom: 40px}
.mb-4{margin-bottom: 100px}

.p-0{padding: 0}
.p-1{padding: 10px}
.p-2{padding: 20px}
.p-3{padding: 40px}
.p-4{padding: 100px}

.pt-1{padding-top: 10px;}
.pt-3{padding-top: 20px;}
.pt-3{padding-top: 40px;}
.pt-4{padding-top: 15vh;}

.pr-4{padding-right: 50px;}

.pb-1{padding-bottom: 10px;}
.pb-2{padding-bottom: 20px;}
.pb-3{padding-bottom: 40px;}
.pb-4{padding-bottom: 15vh;}

.text-center { text-align: center; }
.text-right { text-align: right; }
.text-left { text-align: left; }
.img-res { width: 100%; height: 100%; margin-bottom: 20px;vertical-align: middle;}


/* ! Cover */
.cover{ 
  text-align: center; padding:10px; margin:0px; min-height:600px; width:100%; 
  display:flex; flex-direction:column; justify-content:center; 
  background-position: center center; background-size:cover;
}
.cover * {color:#fff}


@media screen and (max-width: 768px) {
  .button {
    margin-bottom:40px
  }
}






.color-section-grey {
    background-color: #f7f7f7;
}



.container {
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}
@media screen and (min-width: 992px) {
    .container {
        max-width: 145rem;
        padding: 0;
    }
}

.p-section {
    padding: 18rem 0;
}

@media screen and (max-width: 992px) {
  .p-section {
    padding: 9rem 1.5rem;
  }
}

@media screen and (min-width: 992px) {
    .p-section {
        padding: 18rem 4rem;
    }
}

.flex {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 992px) {
  .flex {
    flex-direction: column;
  }
}

.flex-column {
    display: flex;
    flex-direction: column;
}


.grid-33 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
}

@media screen and (max-width: 768px) {
  .grid-33 {
    grid-template-columns: 1fr;
  }
}

.title-section {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
}

.w-50{
    width: 50%;
}

.w-100 {
    width: 100%;
}


a .card {
    color: #333;
}

.strong {
    font-weight: 900;
}


p {
    line-height: 2.6rem;
}